<ul class="navbar-collapse collapse">
    <li class="nav-item d-none d-lg-block ml-lg-4">
        <a
                [routerLink]="['/login']" class="btn btn-neutral btn-icon">
                        <span class="btn-inner--icon">
                             <i class="fa fa-sign-in mr-2"></i>
                        </span>
            <span class="nav-link-inner--text">Login</span>
        </a>
    </li>
    <li class="nav-item d-none d-lg-block ml-lg-4">
        <a [routerLink]="['register']" class="btn btn-neutral btn-icon">
                        <span class="btn-inner--icon">
                          <i class="fa fa-user-plus mr-2"></i>
                        </span>
            <span class="nav-link-inner--text">Register</span>
        </a>
    </li>
</ul>
